/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Variáveis */

:root{
    --color-bg:#0e0e0e;
    --color-surface:#1a1919;
    --color-primary:#a3a6ff;
    --color-text:#ffffff;
    --color-text-muted:#bdbdbd;

    --nav-height:64px;
    --nav-padding:30px;
}

/* Página */

body{
    font-family:'Inter',sans-serif;
    background:var(--color-bg);
    color:var(--color-text);
}

/* Navbar */

.site-header{
    background:var(--color-surface);
    height:var(--nav-height);
}

.nav-inner{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:100%;
    padding:0 var(--nav-padding);
}

/* Logo */

.nav-logo{
    text-decoration:none;
    color:rgb(224, 55, 55);
    font-size:22px;
    font-weight:900;
}

/* Links */

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:var(--color-text-muted);
    font-weight:500;
}

.nav-links a:hover{
    color:white;
}

/* Ações */

.nav-actions{
    display:flex;
    align-items:center;
    gap:15px;
}

.btn-entrar{
    text-decoration:none;
    color:var(--color-primary);
    border:1px solid #555;
    padding:6px 12px;
    border-radius:8px;
}

.btn-search{
    background:none;
    border:none;
    color:white;
    cursor:pointer;
}

/* Responsividade */

@media (max-width:700px){

    .nav-inner{
        flex-direction:column;
        justify-content:center;
        height:auto;
        padding:15px;
        gap:15px;
    }

    .site-header{
        height:auto;
    }

    .nav-links{
        gap:15px;
    }

}